body {
  font-family: "Book Antiqua","Palatino Linotype","Palatino LT STD",Georgia,serif;
  background-image: url("background.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
  color: white;
}

.header {
  background-color: #b3d1ff;
  color: black;
  height: 105px;
  border-radius: 20px 20px 0 0;
  opacity: 0.8;
}

.background, .text-background {
  background: black;
  opacity: 0.7;
  padding: 5px 20px 5px 0;
  position: relative;
  z-index: 1;
}

.foto {
  float: right;
  padding: 20px 220px 0 0;
}

.image img {
  border-radius: 10px;
  position: absolute;
  z-index: 2;
}

.dropbtn {
  background-color: #b3d1ff;
  padding: 15px 15px 0 0;
  font-size: 16px;
  border: none;
  border-radius: 0 20px 0 0;
}

.dropdown {
  text-align: right;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: inline;
}

.dropdown:hover .dropdown-content {
  display: inline-block;
}

.dropdown:hover .dropbtn {
  color: orange;
}

.dropdown-content img {
  border-radius: 5px;
}

#mitte {
  text-align: center;
  font-size: 35px;
}

#mimo {
  color: yellow;
  text-decoration: none;
}

#mimo:hover {
  color: blue;
}

#web {
  color: white;
  text-decoration: none;
}

#web:hover {
  color: orange;
}

.box1, .box2 {
  float: left;
  padding: 30px 100px 0 10px;
  font-size: 40px;
}

.box1en, .box2en {
  float: left;
  padding: 30px 150px 0 10px;
  font-size: 40px;
}

.box3 {
  float: right;
  padding: 40px 20px 0 0;
  font-size: 20px;
}

#footer {
  background-color: #001433;
  padding: 25px 0 25px 0;
  border-radius: 0 0 20px 20px;
}

.links a {
  padding: 20px 0 0 10px;
}

.links img {
  border-radius: 10px;
}

#home {
  float: right;
  color: white;
  text-decoration: none;
  padding: 8px 25px 5px 0;
  text-transform: uppercase;
}

#home:hover {
  color: orange;
}

.kontakt #k2, .adresse #a2, #a4, #a6, .geburt #g2, #g4, .werdegang1 #w2, #w4,
.ausbildung1 #au2, #au4, .zertifikat1 #z2, #z4 {
  text-align: left;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}

.kontakt #k1, .adresse #a1, #a3, #a5, .geburt #g1, #g3, .werdegang1 #w1, #w3,
.ausbildung1 #au1, #au3, .zertifikat1 #z1, #z3 {
  text-align: left;
  width: 300px;
  display: inline-block;
  vertical-align: top;
}

.content, .werdegang, .ausbildung, .zertifikat, .intro {
  font-size: 18px;
  padding: 0 0 0 20px;
}

.textfield {
  max-width: 900px;
  margin: 0 auto;
}

ul, li {
  list-style-type: none;
}

.text-background {
  text-align: center;
}
