body {
  font-family: "Book Antiqua","Palatino Linotype","Palatino LT STD",Georgia,serif;
  background-image: url("background.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
  color: white;
}

.header {
  background-color: #b3d1ff;
  color: black;
  padding: 35px 0 35px 10px;
  height: 40px;
  border-radius: 20px 20px 0 0;
  opacity: 0.8;
}

.background, .text-background {
  background: black;
  opacity: 0.8;
  padding: 5px 20px 5px 0;
}

#mitte {
  text-align: center;
  font-size: 40px;
}

#mimo {
  color: yellow;
  text-decoration: none;
}

#mimo:hover {
  color: blue;
}

.foto {
  float: right;
  opacity: 1.0;
  padding: 20px 0 0 0;
}

.image img {
  border-radius: 10px;
}

.box1, .box2 {
  float: left;
  padding: 0 100px 0 10px;
  font-size: 40px;
}

.box3 {
  float: right;
  padding: 10px 20px 0 0;
  font-size: 20px;
}

#footer {
  background-color: #001433;
  padding: 25px 0 25px 0;
  border-radius: 0 0 20px 20px;
}

.links a {
  color: white;
  text-decoration: none;
  padding: 20px 0 0 10px;
}

.links img {
  border-radius: 10px;
}

.link a:hover {
  color: orange;
}

#home {
  float: right;
  padding: 8px 20px 5px 0;
  text-transform: uppercase;
}

.kontakt #k2, .adresse #a2, #a4, #a6, .geburt #g2, #g4, .werdegang1 #w2, #w4,
.ausbildung1 #au2, #au4, .zertifikat1 #z2, #z4 {
  text-align: left;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}

.kontakt #k1, .adresse #a1, #a3, #a5, .geburt #g1, #g3, .werdegang1 #w1, #w3,
.ausbildung1 #au1, #au3, .zertifikat1 #z1, #z3 {
  text-align: left;
  width: 300px;
  display: inline-block;
  vertical-align: top;
}

.content, .werdegang, .ausbildung, .zertifikat {
  font-size: 20px;
  padding: 0 0 0 20px;
}

.textfield {
  max-width: 900px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

.text-background {
  text-align: center;
}
